---
Name: OpenShift Installer Configuration
Vendor: OpenShift Origin Community
Description: This is the configuration file for the OpenShift Installer.
Version: 0.0.1
Deployment:
  Hosts:
  DNS:
    app_domain: example.com
Subscription:
  type: yum
  repos_base: https://mirror.openshift.com/pub/origin-server/release/4/rhel-6
  jenkins_repo_base: http://pkg.jenkins-ci.org/redhat
  os_optional_repo: http://download.fedoraproject.org/pub/epel/6/$basearch
  puppet_repo_rpm: http://yum.puppetlabs.com/puppetlabs-release-el-6.noarch.rpm
