---
Name: OpenShift Installer Configuration
Vendor: OpenShift Origin Community
Description: This is the configuration file for the OpenShift Installer.
Version: 0.0.1
Deployment:
  Brokers:
    - host: localhost
      ssh_host: localhost
      user: root
  MQServers:
    - host: localhost
      ssh_host: localhost
      user: root
  DBServers:
    - host: localhost
      ssh_host: localhost
      user: root
  Nodes:
    - host: localhost
      ssh_host: localhost
      user: root
  DNS:
    app_domain: example.com
Subscription:
  type: none
